/*----- General -----*/

body, html {
  font-family: georgia;
  background-color: #e6e6e6;
}

/*----- Menu -----*/

/*.bugfix:after {
display:block;
clear:both;
}*/

.menu {
  width: 100%;
}

.menu li {
  margin: 0px;
  list-style: none;
  font-family: arial;
}

.menu a {
  text-decoration: none;
  transition: all linear 0.25s;
  color: #513233;
}

.menu li:hover a {
  text-decoration: none;
  color: #e6e6e6;
}

.arrow {
  font-size: 11px;
}

/*----- Main level -----*/

.menu > ul > li {
  float: left;
  display: inline-block;
  position: relative;
  background-color: #cccccc;
}

.menu > ul > li > a {
  padding: 16px 40px;
  display: inline-block;
}

.menu > ul > li:hover > a {
  background-color: grey;
}

/*----- Dropdown -----*/

.menu li:hover .dropdown {
  z-index: 1;
  opacity: 1;
}

.dropdown {
  width: 100%;
  padding: 0px 0px;
  position: absolute;
  top: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.25s;
  background: grey;
}

.dropdown li {
  display: block;
  font-size: 16px;
}

.dropdown li a {
  padding: 15px 20px;
  display: block;
}

.dropdown li:hover a {
  background-color: #cccccc;
  color: #513233;
}
